fixed_n8n_workflow.json
{
  "name": "Food Ordering Chatbot - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram",
        "responseMode": "responseNode"
      },
      "id": "webhook-telegram",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "telegram-bot-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "start-check",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-start-command",
      "name": "Is Start Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "callback-check",
              "leftValue": "={{ $json.callback_query !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-callback",
      "name": "Is Callback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.item.json.message.chat.id;\n\nreturn [{\n  chat_id: chatId,\n  text: \"مرحباً بك في مطعمنا! 🍔\\n\\nاختر من القائمة:\",\n  reply_markup: {\n    inline_keyboard: [\n      [\n        {text: \"View Menu 📋\", callback_data: \"menu\"},\n        {text: \"My Cart 🛒\", callback_data: \"cart\"}\n      ],\n      [\n        {text: \"Checkout 💳\", callback_data: \"checkout\"},\n        {text: \"Help ❓\", callback_data: \"help\"}\n      ]\n    ]\n  }\n}];"
      },
      "id": "prepare-start-message",
      "name": "Prepare Start Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8246352423:AAGe6R3M5VLUXzlWMmFdccQMi2QuNebdZN4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "send-telegram-message",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const callbackData = $input.item.json.callback_query?.data;\nconst chatId = $input.item.json.callback_query?.message?.chat?.id;\nconst messageId = $input.item.json.callback_query?.message?.message_id;\n\nif (callbackData === 'menu') {\n  const menuText = `📋 **القائمة**\\n\\n**🍔 Burgers**\\n• BG1 - Classic Burger - 85 EGP\\n• BG2 - Chicken Burger - 75 EGP\\n• BG3 - Cheese Burger - 95 EGP\\n• BG4 - BBQ Burger - 105 EGP\\n\\n**🍟 Sides**\\n• SD1 - French Fries - 30 EGP\\n• SD2 - Onion Rings - 35 EGP\\n• SD3 - Coleslaw - 25 EGP\\n• SD4 - Mozzarella Sticks - 45 EGP\\n\\n**🥤 Drinks**\\n• DR1 - Coca Cola - 15 EGP\\n• DR2 - Orange Juice - 25 EGP\\n• DR3 - Water - 10 EGP\\n• DR4 - Sprite - 15 EGP\\n\\nللطلب: BG1 x2, SD1, DR1`;\n  \n  return [{\n    chat_id: chatId,\n    message_id: messageId,\n    text: menuText,\n    parse_mode: 'Markdown'\n  }];\n} else if (callbackData === 'cart') {\n  return [{\n    chat_id: chatId,\n    message_id: messageId,\n    text: '🛒 السلة فارغة حالياً',\n    parse_mode: 'Markdown'\n  }];\n} else if (callbackData === 'help') {\n  const helpText = `📚 **مساعدة**\\n\\n**الطلب المباشر:**\\nBG1 x2, SD1, DR1\\n\\n**الطلب بالنص:**\\nعايز برجرين و بطاطس\\nI want two burgers\\n\\n**الأوامر:**\\n/start - البداية\\n/help - المساعدة`;\n  \n  return [{\n    chat_id: chatId,\n    message_id: messageId,\n    text: helpText,\n    parse_mode: 'Markdown'\n  }];\n} else if (callbackData === 'checkout') {\n  return [{\n    chat_id: chatId,\n    message_id: messageId,\n    text: '💳 الدفع قيد التطوير',\n    parse_mode: 'Markdown'\n  }];\n}\n\nreturn [];"
      },
      "id": "handle-callback",
      "name": "Handle Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8246352423:AAGe6R3M5VLUXzlWMmFdccQMi2QuNebdZN4/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "edit-telegram-message",
      "name": "Edit Telegram Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.message;\n\nif (!message || !message.text) {\n  return [];\n}\n\nconst text = message.text;\nconst chatId = message.chat.id;\n\nif (text.startsWith('/')) {\n  return [];\n}\n\nconst regex = /(BG|SD|DR)(\\d+)(?:\\s*x\\s*(\\d+))?/gi;\nconst matches = [...text.matchAll(regex)];\n\nif (matches.length > 0) {\n  const items = matches.map(match => ({\n    code: match[1] + match[2],\n    quantity: match[3] ? parseInt(match[3]) : 1\n  }));\n  \n  return [{\n    chatId: chatId,\n    items: items,\n    method: 'structured'\n  }];\n}\n\nreturn [{\n  chatId: chatId,\n  text: text,\n  method: 'need_ai'\n}];"
      },
      "id": "parse-text",
      "name": "Parse Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 600]
    },
    {
      "parameters": {
        "jsCode": "const MENU = {\n  'BG1': { name: 'Classic Burger', price: 85 },\n  'BG2': { name: 'Chicken Burger', price: 75 },\n  'BG3': { name: 'Cheese Burger', price: 95 },\n  'BG4': { name: 'BBQ Burger', price: 105 },\n  'SD1': { name: 'French Fries', price: 30 },\n  'SD2': { name: 'Onion Rings', price: 35 },\n  'SD3': { name: 'Coleslaw', price: 25 },\n  'SD4': { name: 'Mozzarella Sticks', price: 45 },\n  'DR1': { name: 'Coca Cola', price: 15 },\n  'DR2': { name: 'Orange Juice', price: 25 },\n  'DR3': { name: 'Water', price: 10 },\n  'DR4': { name: 'Sprite', price: 15 }\n};\n\nconst input = $input.item.json;\nconst items = input.items || [];\nconst chatId = input.chatId;\n\nif (input.method === 'need_ai') {\n  return [{\n    chat_id: chatId,\n    text: '🤖 معالجة الذكاء الاصطناعي قيد التطوير.\\nالرجاء استخدام الأكواد: BG1 x2, SD1'\n  }];\n}\n\nlet responseText = '✅ تم إضافة العناصر للسلة:\\n\\n';\nlet total = 0;\nlet validItems = [];\n\nitems.forEach(item => {\n  const menuItem = MENU[item.code];\n  if (menuItem) {\n    const itemTotal = menuItem.price * item.quantity;\n    responseText += `• ${menuItem.name} x${item.quantity} - ${itemTotal} EGP\\n`;\n    total += itemTotal;\n    validItems.push({\n      code: item.code,\n      name: menuItem.name,\n      price: menuItem.price,\n      quantity: item.quantity\n    });\n  }\n});\n\nif (validItems.length === 0) {\n  return [{\n    chat_id: chatId,\n    text: '❌ لم أجد عناصر صحيحة في طلبك.\\nاستخدم أكواد مثل: BG1 x2, SD1, DR1'\n  }];\n}\n\nresponseText += `\\n💰 **الإجمالي: ${total} EGP**`;\n\nreturn [{\n  chat_id: chatId,\n  text: responseText,\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [\n      [\n        {text: 'View Cart 🛒', callback_data: 'cart'},\n        {text: 'Checkout 💳', callback_data: 'checkout'}\n      ],\n      [\n        {text: 'Add More ➕', callback_data: 'menu'}\n      ]\n    ]\n  }\n}];"
      },
      "id": "process-items",
      "name": "Process Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8246352423:AAGe6R3M5VLUXzlWMmFdccQMi2QuNebdZN4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "send-cart-response",
      "name": "Send Cart Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 600]
    },
    {
      "parameters": {},
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Is Start Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start Command": {
      "main": [
        [
          {
            "node": "Prepare Start Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Start Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Callback": {
      "main": [
        [
          {
            "node": "Handle Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Callback": {
      "main": [
        [
          {
            "node": "Edit Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Telegram Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text": {
      "main": [
        [
          {
            "node": "Process Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Items": {
      "main": [
        [
          {
            "node": "Send Cart Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cart Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-15T12:00:00.000Z",
  "versionId": "2"
}